@using WMS_Online.Models.ProductViewModels
@model IndexViewModel
@{
    ViewData["Title"] = "Товары";
}

<h1>Список товаров</h1>
<form method="get">
    <label>Наименование(цена): </label>
    <input name="name" value="@Model.FilterViewModel.SelectedName" />  
    <label>Статус: </label>
    <select name="status" asp-items="Model.FilterViewModel.Statuses"></select>
    <label>Тип: </label>
    <select name="type" asp-items="Model.FilterViewModel.Types"></select>
    <label>Склад: </label>
    <select name="warehouse" asp-items="Model.FilterViewModel.Warehouses"></select>
    <input class="btn btn-default" type="submit" value="Фильтр" />
</form>
  
<table class="table">
    <tr>
        <th>
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber)"
               asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-id="-1">Наименование</a>
        </th>
        <th>
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber)"
               asp-route-sortOrder="@(Model.SortViewModel.WorthSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-id="-1">Стоимость</a>
        </th>
        <th>
            Тип
        </th>
        <th>
            Склад
        </th>
        <th>
            Количество
        </th>
        <th>
            Cтатус
        </th>
    </tr>
    @foreach (Product p in Model.Products)
    {
        <tr>            
            <td>@p.Nomenclature.Name</td>                       
            <td>@p.Nomenclature.Worth</td>
            <td>@(p.Nomenclature.Type == null ? "Без типа" : p.Nomenclature.Type.Name)</td>
            <td>@(p.Warehouse != null ? p.Warehouse.Address : "-")</td>
            <td>@("0")</td>
            <td>@p.Status</td>
            <td align="center" width="100">
                    <form asp-action="AddNomenclature" method="get"  asp-route-id="@p.Id">
                        <input class="btn btn-default" type="submit" value="Посмотреть адрес ячейки" />
                    </form>
            </td>
            <td align="center" width="100">
                    <form asp-action="RemoveNomenclature" method="post"  asp-route-id="@p.Id">
                        <input class="btn btn-default" type="submit" value="Изменить статус" />
                    </form>
            </td>
            <td align="center" width="100">
                    <form asp-action="Index" method="post" asp-route-id="@p.Id">
                        <input class="btn btn-default" type="submit" value="В корзину" />
                    </form>
            </td>
        </tr>
    }
</table>
  
<pagination-link page-model="Model.PageViewModel" page-action="Index"
       page-url-name="@(Model.FilterViewModel.SelectedName)"
       page-url-type="@(Model.FilterViewModel.SelectedType)"
       page-url-sortorder="@(Model.SortViewModel.Current)"
       page-url-id="-1">></pagination-link>

<form asp-action="AddNomenclature" method="get">
    <p>
        <input class="btn btn-default" type="submit" value="Добавить поставку" />
    </p>
</form>

<br/>

<form asp-action="AddNomenclature" method="get">
    <p>
        <input class="btn btn-default" type="submit" value="Перейти в корзину" />
    </p>
</form>
